
An2/Sem2/Inteligenta Artificiala/ai-lab01-Leonard1403/
An2/Sem2/Inteligenta Artificiala/ai-lab03-Leonard1403/
An2/Sem2/Inteligenta Artificiala/lab02-ai-greedy-Leonard1403/
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client/
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/README.md
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/screens/VaccineGuideList.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/screens/TrackVaccines.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/screens/Signup.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/screens/Profile.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/screens/Main.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/screens/Login.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/screens/Landing.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/screens/Guide.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/const/wizzardData.js
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/const/vaccineNamesData.js
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/const/vaccineData.js
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/const/styles.js
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/const/peerActions.js
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/const/otherVaccinesNamesData.js
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/const/navigation.js
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/const/guideListData.js
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/const/context.js
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/components/templates/WizzardTemplate.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/components/templates/VaccineTemplate.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/components/templates/VaccineProgramTemplate.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/components/organisms/VaccinesReportCard.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/components/organisms/VaccineModal.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/components/organisms/VaccineInfoCard.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/components/organisms/TrackerCard.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/components/organisms/SignupCard.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/components/organisms/QrModel.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/components/organisms/PeerVaccinesModal.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/components/organisms/PeerInfoModal.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/components/organisms/PeerCardModal.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/components/organisms/LoginCard.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/components/organisms/GuideListSection.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/components/organisms/AddPeerModal.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/components/molecules/VaccineSection.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/components/molecules/VaccineHeader.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/components/molecules/UpcomingVaccines.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/components/molecules/PeerCard.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/components/molecules/PastVaccines.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/components/molecules/MainPageHeader.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/components/molecules/GuideSection.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/components/molecules/CountDownBox.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/components/molecules/AppointmentCountDown.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/components/atoms/VaccineDoseField.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/components/atoms/buttons/VerticalButton.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/components/atoms/buttons/VaccineButton.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/components/atoms/buttons/SecondaryButton.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/components/atoms/buttons/PrimaryButton.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/components/atoms/buttons/NextButton.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/components/atoms/buttons/ModalButton.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/components/atoms/buttons/GoogleButton.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/components/atoms/buttons/ClearButton.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/components/atoms/buttons/AddPeerButton.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/components/atoms/AccountInfoField.jsx
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/assets/img/wizzard.png
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/assets/img/virus.png
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/assets/img/star.png
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/assets/img/qr.png
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/assets/img/leaf.png
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/assets/img/landing.png
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/assets/img/heart3.png
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/assets/img/heart2.png
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/assets/img/heart1.png
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/assets/img/google-logo.png
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/assets/img/cross4.png
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/assets/img/cross3.png
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/assets/img/cross2.png
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/assets/img/cross1.png
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/assets/img/cross.png
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/assets/img/bottle.png
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/assets/img/background1.jpg
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/assets/img/baby.png
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/assets/img/app-logo.png
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/assets/dummy.js
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/api/handleSingup.js
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/api/handleLogin.js
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/api/handleGetUserPatientVaccines.js
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/api/handleGetUserPatients.js
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/src/api/handleAddUserPatient.js
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/package.json
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/package-lock.json
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/metro.config.js
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/ios/vaccineclientnative/Supporting/Expo.plist
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/ios/vaccineclientnative/SplashScreen.storyboard
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/ios/vaccineclientnative/main.m
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/ios/vaccineclientnative/Info.plist
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/ios/vaccineclientnative/Images.xcassets/SplashScreenBackground.imageset/Contents.json
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/ios/vaccineclientnative/Images.xcassets/SplashScreenBackground.imageset/background.png
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/ios/vaccineclientnative/Images.xcassets/SplashScreen.imageset/splashscreen.png
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/ios/vaccineclientnative/Images.xcassets/SplashScreen.imageset/Contents.json
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/ios/vaccineclientnative/Images.xcassets/Contents.json
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/ios/vaccineclientnative/Images.xcassets/AppIcon.appiconset/Contents.json
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/ios/vaccineclientnative/AppDelegate.mm
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/ios/vaccineclientnative/AppDelegate.h
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/ios/vaccineclientnative.xcodeproj/xcshareddata/xcschemes/vaccineclientnative.xcscheme
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/ios/vaccineclientnative.xcodeproj/project.pbxproj
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/ios/Podfile.properties.json
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/ios/Podfile
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/ios/.xcode.env
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/index.js
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/eas.json
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/babel.config.js
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/assets/splash.png
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/assets/icon.png
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/assets/favicon.png
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/assets/adaptive-icon.png
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/app.json
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/App.js
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/android/settings.gradle
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/android/gradlew.bat
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/android/gradlew
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/android/gradle/wrapper/gradle-wrapper.properties
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/android/gradle/wrapper/gradle-wrapper.jar
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/android/gradle.properties
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/android/build.gradle
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/android/app/src/release/java/com/vaccineclientnative/ReactNativeFlipper.java
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/android/app/src/main/res/values/styles.xml
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/android/app/src/main/res/values/strings.xml
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/android/app/src/main/res/values/colors.xml
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/android/app/src/main/res/drawable/splashscreen_image.png
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/android/app/src/main/res/drawable/splashscreen.xml
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/android/app/src/main/res/drawable/rn_edit_text_material.xml
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/android/app/src/main/java/com/vaccineclientnative/MainApplication.java
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/android/app/src/main/java/com/vaccineclientnative/MainActivity.java
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/android/app/src/main/AndroidManifest.xml
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/android/app/src/debug/java/com/vaccineclientnative/ReactNativeFlipper.java
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/android/app/src/debug/AndroidManifest.xml
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/android/app/proguard-rules.pro
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/android/app/debug.keystore
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/android/app/build.gradle
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/.vscode/c_cpp_properties.json
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/CODEOWNERS
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/android/app/debug.keystore
*.keystore
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/android/app/debug.keystore
An2/Sem2/Medii de Proiectare si Programare/mpp_vaccination_client-main/ProiectMPP/android/app/debug.keystore
