<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="dialect">aplicatie.persistance.directory.SQLiteDialect</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:E:/Facultate/An2/Sem2/Ingineria sistemelor soft/Laborator 06/RoadRunner.v2/persistance.sqlite</property>

        <property name="hibernate.hbm2ddl.auto"> none </property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">false</property>

<!--         Configurarea fisierului de mapare -->
        <mapping resource="persistance/Angajat.hbm.xml" />
        <mapping resource="Manager/Manager.hbm.xml" />
        <mapping resource="Comanda/Comanda.hbm.xml" />
<!--        <mapping class="aplicatie.model.Participant"/>-->
    </session-factory>
</hibernate-configuration>